.projects {
  min-height: 65vh;
  padding: 100px 0rem;
}

.projects .section__title {
  width: 150px;
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: var(--text);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: var(--font-title);
}

.projects .section__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50%;
  height: 2px;
  background: var(--gradient-accent);
}
