/* -============= BREAKPOINTS =============- */
/* For medium devices <> */
@media (width >= 350px) and (width <= 767px) {
  .nav__menu {
    width: 50%;
  }

  .about {
    padding: 50px 1rem;
  }

  .about__container {
    justify-content: center;
  }

  .about__images {
    padding-top: 100px;
  }

  .social-link-github,
  .social-link-linkedin {
    left: -50px;
  }

  .card__container {
    grid-template-columns: 1fr;
  }

  .contact {
    padding: 7rem 1rem;
  }

  .contact__content {
    grid-template-columns: 1fr;
  }

  .contact__info,
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 1rem;
  }

  .contact__title {
    font-size: 3rem;
  }

  .contact__row {
    flex-direction: column;
  }

  .contact__button {
    padding: 20px 20px;
  }

  .contact__button-text {
    font-size: 0.8rem;
  }

  .contact__privacy {
    font-size: 0.8rem;
  }

  .dot-matrix {
    top: 40px;
  }

  .contact__circles {
    bottom: 0%;
  }

  .footer-container {
    flex-direction: column;
  }
}

@media screen and (width>= 768px) {
  .hero__subtitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__description {
    font-size: 1.2rem;
  }

  .social-link-github,
  .social-link-linkedin {
    left: -75px;
  }

  .card__projects {
    padding: 0px 1rem;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-container {
    flex-direction: column;
  }
}

/* For large devices <> */
@media (width >= 1150px) {
  .about .blob-small {
    width: 300px;
    height: 300px;
    filter: blur(65px);
  }

  .nav {
    align-items: center;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__menu {
    width: initial;
  }

  .nav__list {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .hero__subtitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .hero__title {
    font-size: 4.5rem;
  }

  .hero__description {
    font-size: 1.2rem;
  }

  .about__container {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 5.5rem;
    padding-top: 3rem;
  }

  .about__box-1,
  .about__box-2,
  .about__box-3 {
    width: 400px;
    height: 400px;
  }

  .about__img {
    width: 400px;
  }

  .hero__circle {
    right: -3rem;
    bottom: -1.5rem;
  }

  .about__images .blog.big {
    top: -8rem;
  }

  .hero .blob-small:nth-child(1) {
    top: -3rem;
    left: -3rem;
  }

  .hero .blob-small:nth-child(2) {
    top: 25rem;
  }

  .about__data,
  .about__data .section__title {
    text-align: initial;
    z-index: 2;
  }

  .about__description {
    margin-bottom: 3rem;
  }

  .cards__projects {
    display: grid;
    place-content: center;
  }

  .card__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .contact {
    padding: 10rem 5rem;
  }

  .contact__content {
    grid-template-columns: 40% 60%;
  }

  .dot-matrix {
    top: 250px;
  }

  .footer-container {
    flex-direction: row;
    gap: 5px;
  }
}

@media (width >= 1520px) {
  .card__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .contact__badges {
    width: 80%;
  }
}
