.contact {
  padding: 10rem 5rem;
  background-color: #000;
  width: 100%;
}

.contact__content {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  place-items: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #66ff00;
}

.contact__info,
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 5rem;
}

.contact__status,
.contact__title span {
  color: #66ff00;
}

.contact__status {
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.contact__title {
  position: relative;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.contact__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 25%;
  height: 2px;
  background: linear-gradient(
    to right,
    #66ff00,
    rgba(55, 255, 20, 0.342),
    rgba(57, 255, 20, 0.08)
  );
}

.contact__description {
  margin-top: 50px;
  color: #fff;
}

.contact__details {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.048);
  padding-bottom: 20px;
}

.contact__detail {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.contact__detail span {
  color: #fff;
}

.contact__detail span b {
  color: #66ff00;
}

.contact__detail svg {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 40px;
  font-size: 20px;
  background: rgba(57, 255, 20, 0.08);
  border: 1px solid #66ff00;
  color: #66ff00;
}

.contact__stack {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__stack-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.contact__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contact__badge {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: var(--color);
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid var(--color);
}

.contact__form {
  width: 100%;
  height: 100%;
  background-color: #0b0b0b;
  border-left: 2px solid rgba(255, 255, 255, 0.048);
}
