.blob-small,
.blob-big {
  background-color: #09ff00;
  border-radius: 50%;
  position: absolute;
  z-index: 20;
}

.blob-small {
  width: 100px;
  height: 100px;
  filter: blur(50px);
}

.blob-big {
  width: 150px;
  height: 150px;
  filter: blur(100px);
}

.hero {
  position: relative;
}

.hero .blob-small:nth-child(1) {
  top: -2rem;
  left: -2rem;
}

.hero .blob-small:nth-child(2) {
  top: 11rem;
  right: -4rem;
}

.hero__container {
  padding-block: 2.5rem 3rem;
  row-gap: 7rem;
}

.hero__data {
  text-align: center;
  color: #fff;
}

.hero__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero__title span {
  color: #00ff40;
}

.hero__images {
  position: relative;
  justify-self: center;
  margin-right: 1.5rem;
}

.hero__box-1,
.hero__box-2,
.hero__box-3 {
  width: 210px;
  height: 250px;
  border-radius: 1.5rem;
}

.hero__box-1 {
  background-color: hsl(100, 25%, 32%);
}

.hero__box-2 {
  background-color: #fff;
  position: absolute;
  left: 0.75rem;
  bottom: 0.75em;
  rotate: 5deg;
}

.hero__box-3 {
  background: linear-gradient(
    180deg,
    hsl(100, 75%, 85%) 0%,
    hsl(100, 75%, 60%) 100%
  );
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  rotate: 10deg;
}

.hero__img {
  position: absolute;
  z-index: 50;
  width: 220px;
  bottom: 2.5rem;
  right: -1.25rem;
  mask-image: linear-gradient(
    to bottom,
    hsla(100, 75%, 60%, 1) 70%,
    transparent 100%
  );
}

.hero__circle {
  position: absolute;
  right: -2rem;
  bottom: -3.5rem;
  width: 100px;
  height: 100px;
  border: 20px solid hsla(100, 24%, 4%, 0.5);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.hero__circle::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  mask-image: radial-gradient(circle, transparent 30px, #000 0);
  backdrop-filter: blur(4px);
  border-radius: 50%;
}

.hero__arrow {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 10;
}

.hero__text {
  z-index: 10;
  color: #fff;
  font-family: poppins, sans-serif;
  font-size: 12px;
  font-weight: 100;
  position: absolute;
  width: 100px;
  height: 100px;
  animation: rotate-text 8s linear infinite;
}

.hero__text span {
  position: absolute;
  left: 50px;
  top: 5px;
  transform-origin: 0 45px;
}

.hero__images .blob-big {
  top: -1.5rem;
  left: 0;
  right: 0;
  justify-self: center;
}

/* Circular text animation */
@keyframes rotate-text {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
