@keyframes glowing {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 400% 0%;
  }
}

.blob-small {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  background-size: 400%;
  z-index: 0;
  animation: glowing 20s linear infinite;
  opacity: 1;
  border-radius: 10px;
}

.blob-small {
  width: 150px;
  height: 150px;
  filter: blur(50px);
}

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 7rem 2rem 5rem;

  background: url("../assets/hero-bg.jpg") no-repeat center/cover fixed;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.hero .blob-small:nth-child(1) {
  top: -2rem;
  left: -2rem;
}

.hero .blob-small:nth-child(2) {
  top: 11rem;
  right: -4rem;
}

.hero__container {
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero__data {
  color: #fff;
  margin-bottom: 5rem;
  position: relative;
  z-index: 50;
}

.hero__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hero__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero__title span {
  color: #48ff00;
}

.hero__description {
  font-style: italic;
}
